.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.idea
*.csv
Alex/R_Scripts/img/*
Alex/R_Scripts/trainingandtestdata/*
Alex/R_Scripts/test/*
tweets_sentiment_training.txt
.env
node_modules
*.numbers
build
*.css
*log
Philipp/trainingandtestdata.zip