@import 'color-palette.scss';


.ui.card.result{
    max-height: 600px !important;
    overflow: auto;
}


.ui.card:not(.tooltip){
    .content{
        &:first-child{
            background: #617487;
            color: $white;
            .header{
                color: $white;
            }
        }
    }
}