@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto');
@import "./node_modules/react-vis/dist/style";
@import "sidebar.scss";
@import "topnavigation.scss";
@import "utils.scss";
@import "themify-icons.css";

*  {
    font-family: 'Raleway', sans-serif !important;
}


.main-content {
    padding-top: 40px;
   
    @media (min-width:1200px){
        padding-left: 40px;
    }
    @media (min-width: 767px){
        padding-left: 200px;
    }
     @media (max-width: 767px){
         padding-top: 60px !important;
    }
}

